.item {
  margin: 30px 0; }
  .item .item-title {
    color: #2196f3;
    font-size: 0.7em; }
    .item .item-title::before {
      padding-right: 5px; }
  .item .item-subtitle {
    margin-bottom: 2px;
    font-size: 0.88em; }
  .item .item-intro {
    font-size: 0.7em; }
  .item .item-detail {
    font-size: 0.75em;
    line-height: 20px;
    color: #777;
    margin-top: 0.7em;
    margin-bottom: 1.3em; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee; }
  body .main-container {
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #ccc;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex; }
    @media screen and (max-width: 767px) {
      body .main-container {
        width: 100%;
        margin: 0;
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column; }
        body .main-container .left-container {
          width: 100% !important; }
        body .main-container .right-container {
          width: 100% !important; } }
    @media screen and (min-width: 768px) {
      body .main-container {
        width: 700px; } }
    @media screen and (min-width: 860px) {
      body .main-container {
        width: 820px; } }
    @media screen and (min-width: 1024px) {
      body .main-container {
        width: 960px; } }
    @media screen and (min-width: 1280px) {
      body .main-container {
        width: 1200px; } }
    body .main-container .left-container {
      width: 35%;
      background-color: #333;
      color: #fafafa; }
      body .main-container .left-container > div {
        padding: 0 8%; }
    body .main-container .right-container {
      width: 65%;
      color: #333; }
      body .main-container .right-container > div {
        padding: 0 5%; }
    body .main-container ul {
      list-style-type: none; }
  @media print {
    body {
      background-color: white; }
      body .main-container {
        margin: 0;
        box-shadow: none;
        height: 1120px;
        overflow: hidden; } }

.information .avatar {
  height: 150px; }
  .information .avatar img {
    margin: 0 auto;
    height: 100%; }

.information .name {
  font-size: 1.38em; }

.information .avatar, .information .name, .information .job {
  text-align: center; }

.information .contact {
  padding: 0; }
  .information .contact li {
    font-size: 0.75em;
    line-height: 21px; }
  .information .contact .fa {
    padding-right: 10px; }
