.information .avatar {
  height: 150px; }
  .information .avatar img {
    margin: 0 auto;
    height: 100%; }

.information .name {
  font-size: 1.38em; }

.information .avatar, .information .name, .information .job {
  text-align: center; }

.information .contact {
  padding: 0; }
  .information .contact li {
    font-size: 0.75em;
    line-height: 21px; }
  .information .contact .fa {
    padding-right: 10px; }
