.item
  margin: 20px 0

  .item-title
    color: #2196f3
    font-size: 0.7em
    
    &::before
      padding-right: 5px

  .item-subtitle
    margin-bottom: 2px
    font-size: 0.88em

  .item-intro
    font-size: 0.7em

  .item-detail
    font-size: 0.75em
    line-height: 20px
    color: #777